body {
  margin: 0;
  font-family: Arial;
  background: #0b0b12;
  color: white;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background: #111;
  padding: 20px;
}

.main {
  margin-left: 220px;
  padding: 20px;
}

.goal {
  background: #111;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}